Assemblies/

Blast/mibig_json_1.4.tar.gz
Blast/mibig_json_1.4/
Blast/blast_results_seqs
Blast/blast_results
Blast/blast_results_parse

pHMM_train/FastaTestSets_unused/
pHMM_train/HMM_unused/

pHMM_search/t1ks*
pHMM_search/.cleanSeq.fasta
pHMM_search/bak/

Genbank/gbdir/
Genbank/gbids.txt
Genbank/gbids.unique.txt
Genbank/gbids.162984.txt
Genbank/gbids.unique.94516.txt
Genbank/dna.fasta
Genbank/prot.fasta
Genbank/pksntdb*


Antismash_gbids/antismash_output/



sratoolkit.2.9.0-ubuntu64.tar.gz
sratoolkit.2.9.0-ubuntu64/

out
streptomyces_wgs.nvl
blast_out_streptomyces
wgs/
