pairwise_identities.12.10kb.out.xlsx

Antismash_gbids/KS.12.20kb.fasta
Antismash_gbids/KS.12.50kb.fasta
Antismash_gbids/KS.12.5kb.fasta
Antismash_gbids/bak_2019/CP009481.fasta
Antismash_gbids/bak_2019/gbids.old.out.12.filtered.10kb
Antismash_gbids/bak_2019/seq_dir/
Antismash_gbids/cluster_genes.all.fasta
Antismash_gbids/ks.21k.fasta
Antismash_gbids/ks.89k.fasta
Antismash_gbids/ks.all.fasta
Antismash_gbids/stdout.12.filtered.10kb
Antismash_gbids/stdout_21k.txt
Antismash_gbids/stdout_89k.txt
Antismash_gbids/targets.12.10kb.fasta
Antismash_gbids/targets.12.20kb.fasta
Antismash_gbids/targets.12.50kb.fasta
Antismash_gbids/targets.12.5kb.fasta
Antismash_gbids/KS.609.5kb.fasta
Antismash_gbids/targets.609.5kb.fasta
Antismash_gbids/bak_2019/
Antismash_gbids/KS.609.10kb.filtered.out
Antismash_gbids/KS.609.5kb.filtered.out


Coevolution/pairwise_identities.*.out
Coevolution/targets.609.5kb.out.notall
Coevolution/KS.12.50kb.out
Genbank/.nfs000000000819ce5f00000008
Genbank/species.txt
Genbank/species_assembly.txt
Genbank/species_nt.txt

Phylogeny/CP025542
Phylogeny/bak

Second_copy/*.out
Second_copy/blast_out/
Second_copy/old/
old.Coevolution/
Second_copy/targets_fasta/
Coevolution/fasta/
Coevolution/old/
Coevolution/KS.92.5kb.out
Coevolution/targets.92.5kb.out
Coevolution/KS.609.5kb.out
Coevolution/targets.609.5kb.out

Antismash_gbids/sequences.110k.coord.redundant.fasta
Antismash_gbids/2016_antismash_output/
Check_positive_ids.xlsx
Known_targets_in_cluster (version 1).xlsx
Known_targets_in_cluster_newest.xlsx
Known_targets_in_cluster_v1.xlsx
Postive_cluster_list.xlsx
out.parsed.pident.50.xlsx

Antismash_gbids/antismash_ids.txt
Genbank/complete_genomes.txt
Genbank/complete_genomes_nt.txt

Coevolution/blastdb/
Coevolution/fasta_seqs/
Coevolution/all.KS.out
Coevolution/all.targets.out
Coevolution/pairwise_identities.out
Coevolution/targets.*.out
Coevolution/KS.*.out

Antismash_gbids/all.cluster.counts.sorted.txt
Antismash_gbids/all.cluster.counts.txt
Antismash_gbids/all.cluster.counts.unique.txt
Antismash_gbids/antismash_output_assemblies_all_deleted/
Antismash_gbids/baks/
Antismash_gbids/debug/
Antismash_gbids/domain_counts_assemblies.txt
Antismash_gbids/domain_counts_nt.txt
Blast/mibigid_to_gbid.txt
Genbank/complete_genomes_assembly.txt
Genbank/taxa.txt
Genbank/taxa_assembly.new.txt
Genbank/taxa_nt.new.txt


Assemblies/

Blast/mibig_json_1.4.tar.gz
Blast/mibig_json_1.4/
Blast/blast_results_seqs
Blast/blast_results
Blast/blast_results_parse

Blast/bak/
Blast/test/


pHMM_train/FastaTestSets_unused/
pHMM_train/HMM_unused/
pHMM_search/t1ks*
pHMM_search/.cleanSeq.fasta
pHMM_search/bak/

Genbank/assemblyids_filenames.2f
Genbank/gbdir/
Genbank/gbids.txt
Genbank/gbids.unique.txt
Genbank/gbids.162984.txt
Genbank/gbids.unique.94516.txt
Genbank/gbids.assembly.txt
Genbank/gbids.assembly.unique.txt
Genbank/gbids.nt.txt
Genbank/gbids.nt.unique.txt
Genbank/dna.fasta
Genbank/prot.fasta
Genbank/pksntdb*
Genbank/gbids.assembly.txt
Genbank/old/
Genbank/assembly_gb/
Genbank/dna_assembly.fasta
Genbank/dna_nt.fasta
Genbank/grep
Genbank/out.txt
Genbank/prot_assembly.fasta
Genbank/prot_nt.fasta

Antismash_gbids/antismash_output/
Antismash_gbids/antismash_output_assemblies/
Antismash_gbids/antismash_output_assemblies_part/
Antismash_gbids/antismash_output_assemblies_all/
Antismash_gbids/antismash_output_assemblies_all_old/
Antismash_gbids/antismashdb/
Antismash_gbids/bak_1204/
Antismash_gbids/bak_1213/
Antismash_gbids/bak_1216/
Antismash_gbids/sequences.faa.89k.coord.fasta
Antismash_gbids/targets.9.dnaassemblydb.out
Antismash_gbids/targets.9.dnantdb.out
Antismash_gbids/targets.9.protntdb.out
Antismash_gbids/bak/
Antismash_gbids/bak_dec/
Antismash_gbids/seq_dir/
Antismash_gbids/out.*
Antismash_gbids/bak_2019/out.*
Antismash_gbids/bak_2019/all.*
Antismash_gbids/bak_2019/domain_*
Antismash_gbids/bak_2019/debug/
Antismash_gbids/bak_2019/sequences.110k.coord.redundant.fasta

Targets/out.parsed.pident.30
Targets/out.parsed.pident.30-50
Targets/out.targets.13.parsed.pident.30
Targets/split_fasta.py
Targets/targets.13.fasta
Targets/threonyl-trna_synthetase.uniref.fasta.1e-50.all.out
Targets/uniprot_fasta2/

Assemblies_zipped/

Targets/blast_results/
Targets/blastdb/
Targets/mibig_fasta/

Targets/mibig_json.v1.4/
Targets/MIBiG_prot_seqs_1.4.fa
Targets/mibig_fasta.v1.4.fasta

Targets/mibig_ids.txt
Targets/mibig_clusters.txt
Targets/mibig_targets.txt

Targets/all_uniprot.fa
Targets/out.txt
Targets/uniprot_fasta/
Targets/uniprot_manual_fasta/
Targets/.DS_Store
Targets/Uniprot/
Targets/bak/

Targets/all.out
Targets/clusters_fasta/
Targets/out.parsed.pident.50

Second_copy/checks


sratoolkit.2.9.0-ubuntu64.tar.gz
sratoolkit.2.9.0-ubuntu64/

out
streptomyces_wgs.nvl
blast_out_streptomyces
wgs/
