Blast/mibig_json_1.4.tar.gz
Blast/mibig_json_1.4/
Blast/blast_results_seqs
Blast/blast_results
Blast/blast_results_parse

pHMM_train/FastaTestSets_unused/
pHMM_train/HMM_unused/

pHMM_search/t1ks*

Genbank/gbdir/
Genbank/gbids.txt
Genbank/gbids.unique.txt

sratoolkit.2.9.0-ubuntu64.tar.gz
sratoolkit.2.9.0-ubuntu64/

out
streptomyces_wgs.nvl
blast_out_streptomyces
wgs/
